type {
	
	display: inline-block;

	border-style: solid;

	border-width: thin;

	padding: 10px;

	margin: 10px;

	background: grey;

}



type>* {

	display: block;

}

species {

	font-weight: bold;

}



species:before {
	font-weight: bold;
	content: attr(id) "\00a0 ";
}

pokemon[id="25"]>species:after {

	content: url('Pikachu.png');

}



pokemon[id="155"]>species:after {

	content: url('Cyndaquil.png');

}



pokemon[id="152"]>species:after {

	content: url('Chikorita.png');

}



pokemon[id="387"]>species:after {

	content: url('Turtwig.png');

}



type[typ="electric"]>pokemon {
	border-style: solid;
	border-width: thin;
	display: block;
	margin-top: 2px;
	margin-bottom: 2px;
	background: yellow;
}

type[typ="electric"]>pokemon:hover {

	background: white;
}

type[typ="fire"]>pokemon {
	border-style: solid;
	border-width: thin;
	display: block;
	margin-top: 2px;
	margin-bottom: 2px;
	background: red;
}

type[typ="fire"]>pokemon:hover {

	background: white;
}

type[typ="grass"]>pokemon {
	border-style: solid;
	border-width: thin;
	display: block;
	margin-top: 2px;
	margin-bottom: 2px;
	background: green;
}

type[typ="grass"]>pokemon:hover {

	background: white;
}


height:before {

	display: inline;

	content: "Wzrost: ";

}

weight:before{

	display: inline;

	content: "Waga: ";

}

firstapp:before{
	display: inline;
	content: "Pierwsze pojawienie: ";
}

firstapp {
	display: block;
	font-size: 10px;
}


height {

	display: block;

	font-size: 10px;
}



weight {

	display: block;

	font-size: 10px;
}

